@model UnidadPedagogicaSDStaticInfo.DAL.usuariox

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Raw(TempData["msg"])
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><br />
          <div class="form-horizontal">
              <h4>Crear Usuario Nuevo</h4>
              <hr />
              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              <div class="form-group">
                  @Html.Label("Nombre del Docente", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                      @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                  </div>
              </div>

              <div class="form-group">
                  @Html.Label("Numero de Cedula", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                      @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                  </div>
              </div>
              <div class="form-group">
                  @Html.Label("Contraseña Nueva", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                      @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                      @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                  </div>
              </div>



              <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                      <input type="submit" value="Crear" class="btn btn-default" />
                  </div>
              </div>
          </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
