@model IEnumerable<UnidadPedagogicaSDStaticInfo.DAL.usuariox>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    
}
<br /><br /><br />

<h4>Usuario Registrados</h4>
<hr />  
<br/>
<p>
    @Html.ActionLink("Registrar Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>

        <th>
            @Html.DisplayName("Numero de Cedula")
        </th>
        <th>
            @Html.DisplayName("Contraseña")
        </th>
        <th>
            @Html.DisplayName("Rol en el sistema")
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass)
        </td>
        @{
            if (item.idRol == 1)
            {
                <td>
                    Profesor
                </td>
            }
            else if (item.idRol == 2)
            {
                <td>
                    Administrador
                </td>
            }
            else
            {
                <td>
                    Usuario Deshabilitado
                </td>
            }

        }


        <td>


            @Html.ActionLink("Deshabilitar Usuario", "Edit", new { id = item.idUsuario })
        </td>
    </tr>
    }

</table>
